#menu-posts-bws-admin_page .wp-menu-image:before {
	content: "\e906";
	font-family: 'bwsicons' !important;
}
.cstmdmnpg-image-url {
	margin-bottom: 10px;
}
@media only screen and ( max-width: 410px ) {
	.cstmdmnpg_add_new_button {
		display: inline-block;
		margin-top: 15px;
	}
}