#menu-posts-bws-admin_page .wp-menu-image:before {
	content: "\e906";
	font-family: 'bwsicons' !important;
}
.cstmdmnpg_wrap {
	margin: 10px 20px 0 2px;
}
#adminmenu div.wp-menu-name {
	padding: 8px 8px 8px 36px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
@media only screen and ( max-width: 410px ) {
	.cstmdmnpg_add_new_button {
		display: inline-block;
		margin-top: 15px;
	}
}
@media only screen and ( max-width: 782px ) {
	#menu-posts-bws-admin_page a.menu-top.wp-menu-open{
		height: 52px;
	}
}